<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="/">TomesVet</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarVet"
      aria-controls="navbarVet"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarVet">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/clientes">Clientes</a></li>
        <li class="nav-item"><a class="nav-link" href="/mascotas">Mascotas</a></li>
        <li class="nav-item"><a class="nav-link" href="/usuarios">Usuarios</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/historia-clinica">Historia clínica</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
